$color: hsla(38, 100%, 68%, 1);
$bg: hsla(210, 1%, 23%, 1);

.header {
    background: $bg;
    width: auto;
    height: auto;


    .container {
        min-height: 70px;

        a {
            color: $color;
        }
    }

    .navbar-brand.header__logo {
        color: $color;
        font-weight: 900;

        a {
            color: $color;
        }

        nav {
            min-height: 200px;

        }
    }

    #link {
        text-decoration: none;
        transition: all .5s ease-in-out;

        &:hover {
            color: #FFF;
        }
    }
}
